@import url("Table.css");

@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
} 
  
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.App {
  height: 100%;
  width: 100%;
}


.container {
  height: 100%;
  width: 100%;
  min-width: 700px;
  min-height: 650px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  padding: 50px;
  font-family: 'Muli', sans-serif;
}

.background-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.background {
  height: 100%;
  width: 100%;
  overflow: hidden;
  /*background-image: url(https://source.unsplash.com/collection/786665/1600x900);*/
  /*background-size: cover;*/
  filter: brightness(80%);
  z-index: 1;
  animation-duration: 4s;
}

.gradient {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: radial-gradient(ellipse at center, rgba(255,255,255, 0) 0%, rgba(0,0,0, .5) 100%);
  animation-duration: 3s;
}

/*.bg-gradient {*/
/*  position: absolute;*/
  /*background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(0,0,0,0.15) 100%);*/
  /*background:radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(0,0,0,0.7) 100%);*/
/*  background-color: black;*/
/*  z-index: 20;*/
/*}*/

.drag-container {
  display: flex;
  justify-content: flex-end;
}

.notes-container {
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: center;
  margin-right: 10px;
}

.notes-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  color: white;
  background-color: none;
  height: 100%;
  width: 90%;
  min-width: 200px;
  margin-right: 40px;
  border: none;
  animation-duration: 4s;
}

.notes-title {
  text-align: center;
  letter-spacing: 20px;
  font-size: 50px;
  font-weight: 300;
  margin: 10px 0 15px 0px;
}

.notes-text {
  resize: none;
  width: 100%;
  height: 75%;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 15px;
  letter-spacing: 1.4px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 10px;
}

.notes-text:focus {
  outline: none;
}

.notes-text::placeholder {
  color: white;
}

.line {
  height: 100%;
  width: 1px;
  border-right: 1px solid white;
  margin: 50px 0 50px 0;
  overflow: hidden;
  animation-duration: 8s;
}


.input {
  width: 100%;
  height: 100%;
}

.input-text {
  padding: 25px 20px 25px 30px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: white;
  border: none;
  resize: none;
  font-size: 15px;
  letter-spacing: 1.2px;
  font-weight: 300;
  line-height: 22px;
  transition: background-color .5s;
  background-color: rgba(0, 0, 0, 0.05);
}

.one:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.15);
  transition: background-color .5s;
  border-radius: 50px 0 0 0;
}

.four:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.15);
  transition: background-color .5s;
  border-radius: 0 0 50px 0;
}

.input-text:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.20);
  transition: background-color .5s;
}

.one {
  border-radius: 50px 0 0 0;
}

.four {
  border-radius: 0 0 50px 0;
}


.title {
  font-size: 24px;
  color: white;
  letter-spacing: 3px;
  text-align: center;
  line-height: 20px;
  font-weight: 300;
}



.side {
  width: 10px !important;
  height: auto;
}



.contact {
  color: white;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  text-align: right;
  letter-spacing: 1.75px;
  opacity: .8;
}

.contact-link {
  font-weight: 600;
  margin-top: 3px;
  text-decoration: none !important;
  color: white;
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(0,0,0,0);
  opacity: .8;
}

.contact-link:hover {
  border-bottom: 1px solid white;
  cursor: hover;
  opacity: 1;
}

.contact-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  right: 2%;
  bottom: 2%;
  z-index: 1;
}

.creds {
  position: absolute;
  left: 1%;
  bottom: 1.5%;
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: white;
  opacity: .7;
  letter-spacing: 1.5px;
}

a {
  text-decoration: none;
}

.date {
  display: flex;
  position: fixed;
  top: 5%;
  right: 5%;
  z-index: 1;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-family: 'Muli', sans-serif;
  animation-duration: 3s;
}

.dayDate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  line-height: 27px;
  text-align: center;
  border-right: 1px solid white;
  padding-right: 15px;
  margin-right: 10px;
}

.time {
  font-size: 64px;
  /*position: absolute;*/
  /*top: 5%;*/
  /*right: 5%;*/
  /*z-index: 1;*/
  text-transform: uppercase;
}

.day {
  font-size: 14px;
  letter-spacing: 1.5px;
}

.dateOfMonth {
  font-size: 30px;
  margin-top: -2px;
}

/*.clockLine {*/
/*  width: 1px;*/
/*  height: 100%;*/
/*  border-right: 1px solid white;*/
/*  margin: 0 20px;*/
/*}*/

/*.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 2s ease-in;
}

.backgroundTransition-appear {
  opacity: 0.01;
}

.backgroundTransition-appear.backgroundTransition-appear-active {
  opacity: 1;
  transition: opacity 2.5s ease-in;
}

.gradientTransition-appear {
  opacity: 0.01;
}

.gradientTransition-appear.gradientTransition-appear-active {
  opacity: 1;
  transition: opacity 3s ease-in;
}*/

/*.gradientTransition-enter.gradientTransition-enter-active {*/
/*  transition: 0.2s ease-in;*/
/*}*/

.quote-container {
  width: 100%;
}

.quotes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size: 13px;
  opacity: 0.8;
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.author {
  margin-top: 3px;
}

/*.saved {*/
/*  position: absolute;*/
/*  top: 100px;*/
/*  right: 50px;*/
/*  color: white;*/
/*}*/






/* MEDIA QUERIES */

/*@media screen and (max-width: 1024px)  {*/
/*  .two, .three, .four, .urgent, .noturgent, .notimportant, .date, .flex-title {*/
/*    display: none;*/
/*  }*/
/*}*/
  
  @media screen and (max-width: 1044px) {
  .leaf-wrapper-one, .two, .three, .four, .urgent, .noturgent, .notimportant, .date, .flex-title {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .4s, opacity .4s linear;
  }
}


@media screen and (max-width: 1024px) {
  .two, .three, .four, .urgent, .noturgent, .notimportant, .date, .flex-title {
    display: none;
  }
  
  .leaf-wrapper-two, .leaf-wrapper-three, .leaf-wrapper-four, .leaf-wrapper, {
    display: none;
  }
  
  
  
  .title {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    text-align: center;
    letter-spacing: 10px;
    font-size: 50px;
    font-weight: 300;
    margin: 10px 0 15px 40px;
    height: 63px;
    line-height: normal;
    transition: all .5s ease-in;
  }
  
  .important {
    visibility: visible;
    height: 63px;
    width: 100%;
    text-align: center;
  }
  
  /*.dynamic-title {*/
  /*  display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
  /*  text-align: center;*/
  /*  letter-spacing: 10px;*/
  /*  font-size: 50px;*/
  /*  font-weight: 300;*/
  /*  margin: 10px 0 15px 40px;*/
  /*  height: 63px;*/
  /*  line-height: normal;*/
  /*  transition: all .5s ease-in;*/
  /*}*/
  
  .table, .table-container {
    height: 100%;
    margin: 0;
  }
  
  .leaf-wrapper-one {
    visibility: visible;
    opacity: 1;
    height: 100%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 314px;
    position: fixed;
    transition: all .5s ease-in;
  }
  
  .input-text {
    border: none;
    border-radius: 0;
    background-color: transparent;
    
  }
  
  .leaf {
    border: none;
    height: 100%;
  }
  
  .one:focus {
    outline: none;
    background-color: transparent;
    transition: none;
    border: none;
    border-radius: 0;
  }
  
  .one {
    visibility: visible;
    width: 100%;
    height: 75%;
    color: white;
    border: none;
    font-size: 15px;
    letter-spacing: 1.4px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 0;
  }
}

@media screen and (max-width: 720px)  {
  .notes-box {
    min-width: 0;
  }
}


@media screen and (max-width: 680px) {
  .notes-container, .line {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .3s, opacity .3s linear;
  }
  
}

@media screen and (max-width: 660px) {
  .notes-container, .line {
    display: none;
  }
}